<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 <p>
 	<%if @post.image.attached? %>
    <%= image_tag(@post.image, height: '320', width: '220') %>
  <% end %> </p>
<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>
 <p>
 	    <% if @post.blog.user == current_user%>
 	<%= link_to 'Edit', edit_blog_post_path(:id => @post.id, :blog_id => @post.blog_id) %>
  <%= link_to 'Destroy', blog_post_path(:id => @post.id, :blog_id => @post.blog_id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
              <% end %>
          <% if user_signed_in?%>
              <% if current_user.has_role? :admin%>
            <%= link_to 'Verify', verify_blog_post_path(:id => @post.id, 
              :blog_id => @post.blog_id),
              method: :verify,
              data: { confirm: 'Are you sure?' } %>
          <% end %>

              <% end%>
 <div id = "comm">              
             <%= render 'comments/form' %>
</div>
             <div id = "comment">
<%= render 'comments/index'%>
</div>